.cards {
    padding: 1rem;
    background-color: var(--bg--card-color);
    border-radius: var(--border-radius);
    min-width: 240px;
}

.cards--project {
    display: grid;
}

.project__image--container {
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 0 auto;
}

.project {
    position: relative;
    margin-left: 1.5rem;
}

.project__tag {
    font-size: clamp(0.8rem, 5vw, 1rem);
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.project__tags {
    margin: 1.5rem 0 1.5rem 0;
    line-height: 1.8;
}

.project__title {
    display: flex;
    justify-content: center;
    font-size: clamp(1.3rem, 5vw, 1.6rem);
    font-weight: 600;
}

.project__text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-size: clamp(0.9rem, 5vw, 1.2rem);
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: clamp(100px, 100vw, 230px);
    font-weight: 300;
    gap: 0.8rem;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.btn-pagination {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
    font-size: clamp(0.6rem, 5vw, 1rem);
    font-weight: 300;
    transition: var(--transition);
    border-radius: 5px;
    margin-top: 3rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 914px) {

    .cards--project {
        grid-template-columns: 2fr;
    }

    .project__image--container {
        max-width: 500px;
        min-width: 300px;
    }

    .project__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.3rem;
        line-height: 1.5;
        line-height: 1.5;
    }

    .buttons {
        margin-bottom: 1rem;
        width: 170px;
    }
}


@media screen and (min-width: 915px) {

    .cards--project {
        grid-template-columns: 1fr;
        grid-column: 1 / -1;
    }

    .project__image--container {
        max-width: 500px;
        min-width: 300px;
    }

    .project__title {
        padding: 1rem 0 1rem 0;
    }

    .project__tag {
        padding: 0.4rem 0.8rem;
    }

    .project__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.4rem;
        margin: 1rem 0 1rem 0;
    }

}


@media screen and (min-width: 1800px) {

    .cards--project {
        grid-template-columns: min-content 1fr;
        grid-column: 1 / -1;
    }

    .project__image--container {
        width: 426px;
    }

    .project__title {
        padding: 1rem 0 1rem 0;
    }

    .project__text {
        padding: 0;
        line-height: 2;
    }

    .project__tags {
        display: flex;
        justify-content: start;
        gap: 0.5rem;
        margin: 1rem;
    }

    .buttons {
        display: -webkit-inline-box;
        margin-top: 15%;
        margin-left: 20%;
    }
}