footer {
  background-color: var(--dark1);
  display: grid;
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 500;
  color: var(--secondary-light);
  padding: 0.8rem 0 0.8rem 0;
}