header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 1.5rem;
  background-color: var(--bg--card-color);
  transition: var(--transition);
}

/* FLAGS LANGUAGES */

.flags {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.flags__item--en {
  width: 22px;
}

.flags__item--es {
  width: 22px;
}

.flags__item--pt {
  width: 22px;
}

.flags__img {
  display: block;
  cursor: pointer;
}